*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-width: 1440px;
    min-height: 800px;
    padding: 0 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat left bottom url(./images/pattern-curve.svg),                no-repeat left 261px top 214px url(./images/pattern-quotes.svg),                no-repeat bottom 91px right 72px url(./images/pattern-bg.svg)
    ,               white;
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
}

.testimonial {
    position: relative;
    width: 1110px;
    min-height: 540px;
    display: none;
    align-items: center;
    /* margin: auto; */
}

.testimonial img {
    position: absolute;
    border-radius: 5px;
    right: 0;
    top: -15px;
    box-shadow: 0px 6px 16px -6px rgba(40, 1, 88, 0.35);
    z-index: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.text {
    position: relative;
    z-index: 1;
    max-width: 658px;
    margin-top: 95px;
}

.text p {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 300;
    line-height: 43px;

}

.text .name {
    font-size: 21px;
    font-weight: 700;
}

.text .name span {
    font-size: 20px;
    font-weight: 500;
}

.job {
    font-size: 20px;
    color: hsl(240, 18%, 77%);
}

.navigation {
    width: 112px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    border-radius: 112px;
    background-color: white;
    box-shadow: -7px 10px 20px -7px rgba(40, 1, 88, 0.35);
    /* border: 1px solid black; */
    bottom: 116px;
    right: 534px;
    -webkit-border-radius: 112px;
    -moz-border-radius: 112px;
    -ms-border-radius: 112px;
    -o-border-radius: 112px;
}

.navigation .btn {
    border: none;
    cursor: pointer;
    background-color: transparent; 
    height: 18px;
    padding: 0 10px;
}

.visible {
    display: flex;
}

@media screen and (max-width: 1120px) {
    .container {
        max-width: 375px;
        min-height: 667px;
        padding: 0;
        background: no-repeat left bottom/75% url(./images/pattern-curve.svg),                no-repeat center 324px/15% url(./images/pattern-quotes.svg),                no-repeat top 4px center/87% url(./images/pattern-bg.svg)
    ,               white;
    }

    .testimonial {
        flex-direction: column-reverse;
    }

    .testimonial img {
        width: 253px;
        height: auto;
        position: relative;
    }

    .text {
        padding: 0 32px;
        text-align: center;
        margin-top: 45px;
    }

    .text p {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.6px;
    }

    .text .name {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .text .name span {
        font-size: 14px;
    }

    .navigation {
        width: 82px;
        height: 40px;
        bottom: 360px;
        right: inherit;
    }

    .navigation img {
        height: 80%;
    }
}